* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    background: linear-gradient(45deg, #0a0a28, #ff0000, #0000ff);
}